html {
	height: 100%;
}

body {
	background-image: url("background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}




.row {
	font-family: Helvetica;
	text-align: center;
	margin: 90px 100px;
	color: #EEEEEE;
	display: flex;
	justify-content: center;
	align-items: center;
}

.second {
	padding-top: 200px;
}

.btn-secondary {
	color: #DDDDDD
	background-color: #5E12C3;
	border: 5px solid #3A3A3B;
}

